<html>
    <body>
        <h1>Expense Tracker</h1>
        <h2>Total Income: {{income}}</h2>
        <h2>Total Expense: {{expenses}}</h2>
        <h2>Net {{check}}: {{checkvalue}}</h2>
        <form method="POST">
            <button name="transactionpage">Show All Transactions</button>
            <button name="addpage">Add New Transaction</button>
            <br>
            <button name="incomepage">Show All Incomes</button>
            <button name="expensepage">Show All Expenses</button>
        </form>
    </body>
</html>